node_modules/
dist/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.env
.env.*
!.env.example
.firebaserc
!.firebaserc.example
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log
.DS_Store
Thumbs.db
